 


   /* Add some basic styling to your card container */
.main-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 40px;
  padding: 20px;
}

/* Style for each individual card */
.card-container {
  width: 300px;
  height: 400px;
  background-color: #cdd4f8;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.card-container:hover {
  transform: scale(1.10);
}

.card {
  position: relative;
}

/* Style for the card media (image) */
.card-media {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

/* Styling for the card body */
.card-body {
  padding: 15px;
}

/* Styling for the card title */
.card-title {
  font-size: 1.5rem;
  margin: 10px 0;
  padding-left: 5px;
}

/* Styling for the card description */
.card-description {
  font-size: 0.9rem;
  color: #777;
}

/* Styling for the "Read" button */
.card-read {
  background-color: #3498db;
  color: #fff;
  padding: 8px 8px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  width: 40px;
  margin-left: 200px;
  margin-top: 10px;
  transition: background-color 0.3s ease-in-out;
}

.card-read:hover {
  background-color: #2980b9;
}

/* Styling for the "Order Now" tag */
.card-tag {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #e74c3c;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.8rem;
}
.card-author{
  padding-left: 10px;
  font-size: 0.6rem;
}

/* Apply basic styling to the entire page */
body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

/* Style for the main container */
 #root {
  display: flex;
  flex-direction: column;
  align-items: center;
} 

/* Style for the header (Navbar) */
 .header {
  background-color: #333;
  color: #fff;
  padding: 15px;
  text-align: center;
} 

/* Style for the menu container */
.menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
}

/* Add some spacing between the menu items */
.card-container {
  margin: 10px;
}

/* Additional styling for the Navbar */
.navbar {
  display: flex;
  justify-content: center;
  border-radius: 5px;
  align-items: center;
  background-color:white;
  padding: 10px;
  
}

.btn-group{
  border-radius: 60px;
  background-color: #d9d6f0;
}
/* Style for the category buttons in the Navbar */
.category-btn {
  background-color: #9ecfe7;
  color: #fcfafa;
  padding: 8px 15px;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.category-btn:hover {
  background-color: #1c6ca5;
}


.btn-group__item{
  padding: 4px;
  cursor: pointer;
  margin: 20px;
  border: none;
  background-color: #d9d6f0;
  border-radius: 3px;
  font-size: 15px;
  
  
}

.card-price {
  font-size: 1rem;
  color: #27ae60; /* Green color, you can customize this */
  margin-top: 5px;
  font-weight: bold;
}